/* index.html */

:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
}

/* Body */
body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

/* Header */

.page-header {
  background-color: #ffffff;
}

.logo-span {
  color: var(--accent-color);
}
.logo {
  font-family: Raleway, sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.link-nav:hover,
.link-poc:hover,
.link-nav:focus,
.link-poc:focus {
  color: var(--accent-color);
}

.link-nav,
.link-poc {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

/* Main */

/* Герой */
.hero {
  background: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  margin: 0 auto;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #f5f4fa;
  color: var(--title-text-color);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/* Секція advantages */
.advantages h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.advantages p {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Секція projects */
.projects h2,
.team-cards h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* Секція - Наша команда */
.team-cards {
  background-color: #f5f4fa;
}

.team-cards h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-cards p3 {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Footer */
.bottom {
  background-color: #2f303a;
}

.bottom > .logo {
  color: #ffffff;
}

.address p {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address a {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address a:hover,
.address a:focus {
  color: var(--accent-color);
}

li {
  list-style-type: none;
}

/* portfolio.html */

.container-buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--title-text-color);
  cursor: pointer;
  margin: 3px 2.5px;
  padding: 3px, 2.5px;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/* div filtr */

.filtr h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.filtr p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
